<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <script src="/javascripts/site.js"></script>
  </head>
  <body style="background-color: #f8f9fa;">
    <div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <div class="cards">
            <div class="card-product">
              <img src="/images/projects/pawkit.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Pawkit</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/pawkit" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://pawkit-4f8eb10e4858.herokuapp.com/" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>Pawkit is a full-stack web application designed to help pet owners manage and track their pets’ daily, weekly, and monthly care tasks in one organized place.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/placeholder.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Homie</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/furniture-rental-app" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://www.google.com" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>Furniture Rental App that allows users to rent furniture online.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/Yelp-mvp.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Rails Yelp MVP</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/rails-yelp-mvp" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a>                  </div>
                </div>
                <p>Building a two-model Rails app with a restaurant and anonymous reviews.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/Wikinimous.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Wikinimous</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/rails-wikinimous" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a>                  </div>
                </div>
                <p>A Ruby on Rails application that allows users to create, edit, and delete articles, similar to a simplified version of Wikipedia.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/task-manager.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Task Manager</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/rails-task-manager" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a>                  </div>
                </div>
                <p>A simple task manager app made with Ruby on Rails that allows users to create, update and delete tasks.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/StupidCoachingApp.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Stupid Coaching App</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/rails-stupid-coaching" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a>                  </div>
                </div>
                <p>Minimal Rails application with 2 pages. First page is a form with an input. Redirected to another page where they will see their question and the coach's answer.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/Australia-landing-page.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Landing Page</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/landing" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://hmoriklta.github.io/landing/" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>2nd Page created for the Le Wagon Bootcamp. It is a simple landing page that showcases the Australia iconic animals.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/images/projects/TetsuNakamuraPhoto.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>Profile</h2>
                  <div class="card-links">
<a href="https://github.com/HmoriKLTA/profile" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://hmoriklta.github.io/profile/" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>1st page I created for the Le Wagon Bootcamp. It is a simple profile page that showcases the life of Dr Tetsu Nakamura.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
