<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Recent graduate Le Wagon 9-week intensive  web development bootcamp, I'm gaining hands-on experience with front-end and back-end technologies, building projects, and sharpening my skills in HTML, CSS, JavaScript, Ruby on Rails and databases.
          I'm excited to connect with developers, engineers, mentors, and tech enthusiasts as I navigate this career shift. Open to discussions about coding, software development, and new opportunities!</p>
      </div>
    </div>
  </div>
</div>
