<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2><i class="fa-solid fa-user fa-lg"></i> About Me</h2>
        <p>Recent graduate Le Wagon 9-week intensive  web development bootcamp, I'm gaining hands-on experience with front-end and back-end technologies, building projects, and sharpening my skills in HTML, CSS, JavaScript, Ruby on Rails and databases.
          I'm excited to connect with developers, engineers, mentors, and tech enthusiasts as I navigate this career shift. Open to discussions about coding, software development, and new opportunities!</p>
      </div>
      <div id="tech-stacks">
        <h2><i class="fa-solid fa-layer-group fa-lg"></i> Tech Stack</h2>
        <div class="tech-icons d-flex flex-wrap justify-content-center gap-2">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-plain.svg" style="height: 75px; width: 75px;" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" style="height: 75px; width: 75px;"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" style="height: 75px; width: 75px;"/>
        </div>
      </div>
      <div class='ambition mt-4'>
        <h2><i class="fa-solid fa-layer-group fa-lg"></i> Ambition/Goals</h2>
        <div class="tech-icons d-flex flex-wrap justify-content-center gap-2">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" style="height: 75px; width: 75px;" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg" style="height: 75px; width: 75px;" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" style="height: 75px; width: 75px;" />
        </div>
      </div>
    </div>
  </div>
