<div class="row justify-content-center banner">
  <div class="mx-0">
    <%# <%= image_tag 'placeholder.png', alt: "profile photo", class: 'avatar'  %>
    <h1 class="title-main">Hayao Mori @HmoriKLTA</h1>
    <%# <%= link_to "https://github.com/HmoriKLTA", target: "_blank", rel: "noopener" do %>
      <%# <i class="fa-brands fa-github"></i> %>
      <%# <% end %>
    </div>
  </div>
