<header class="text-center vh-100 w-100 d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path 'ali-inay--coR_4tgtWA-unsplash.jpg' %>'); background-size: cover; background-position: center; background-repeat: no-repeat; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
  <div class="d-flex flex-column align-items-center" style="margin-top: -150px;">
    <%= image_tag 'IMG_20241208_124138916_HDR.jpg', alt: "Hayao Mori profile photo", class: 'rounded-circle mb-4', style: 'width: 250px; height: 250px; object-fit: cover; border: 1px solid white; box-shadow: 0 4px 8px rgba(0,0,0,0.3);' %>
    <h1 class="title-main">森 隼央</h1>
    <h1 class="title-main">Hayao Mori</h1>
    <div class="social-links gap-5 mt-3">
      <%= link_to "<i class='fa-brands fa-github fa-xl'></i>".html_safe, "https://github.com/HmoriKLTA", target: '_blank', class: 'external-link' %>
      <%= link_to "<i class='fa-brands fa-linkedin fa-xl'></i>".html_safe, "https://www.linkedin.com/in/hayao-mori/", target: '_blank', class: 'external-link' %>
    </div>
  </div>
</header>
